<h1>Articulo</h1>


<ul>


<li>Titulo: <%= @article.title%></li>
<li>Ciudad: <%= @article.city.ciudad%></li>
<li>Experiencia: <%= @article.experiencia%></li>
<li>fecha: <%= @article.fecha%></li>
<li>Autor: <%= @article.autor%></li>




</ul>
