<h1>Paises</h1>


<td>Ciudad: <%= city.city.capitalize %></td>
<td>country ID: <%= city.country_id %></td>
<td>continente: <%= city.continente %></td>
<td>Poblacion: <%= city.poblacion %></td>
<td>Descripcion: <%= city.descripcion %></td>
