<% if flash[:warning] %>
  <div class="success"><%= flash[:warning] %></div>
<% end %>
<h1>Paises</h1>


<td>Continente: <%= @country.continente %></td>
<td>Pais: <%= @country.pais %></td>
<td>Poblacion: <%= @country.poblacion %></td>
<td>Costo de Vida: <%= @country.vida_costo %></td>
<td>Costo de Vacaciones: <%= @country.vacaciones_costo %></td>
<td>Moneda: <%= @country.moneda %></td>
<td>Descripcion: <%= @country.vida_costo %></td>
<td>Visa Requerida: <%= @country.visa_requiere %></td>
<td>LGTB Amigable: <%= @country.lgtb_amigable %></td>
