<h1>Lista de Ciudades visitados</h1>
<table class="table">
  <thead class="thead-dark">

      <tr>
        <th scope="col">Ciudad</th>
        <th scope="col">country ID</th>
        <th scope="col">Continente</th>
        <th scope="col">poblacion</th>
        <th scope="col">Descripcion</th>


    </thead>

  <% @cities.each do |city| %>

    <tr>
      <td><%= city.ciudad.capitalize %></td>
      <td><%= city.country_id %></td>
      <td><%= city.continente %></td>
      <td><%= city.poblacion %></td>
      <td><%= city.descripcion %></td>
      <td><%= link_to 'Actualizar', edit_country_city_path(@country,city), class: "btn btn-success" %></td>
      <td><%= link_to 'Eliminar', country_city_path(@country,city), method: :delete, class: "btn btn-danger" %></td>




    <tr>
  <% end %>

  <table>
