<h1>Ciudades</h1>


<td>continente: <%= country.continente.capitalize %></td>
<td>Poblacion: <%= country.poblacion %></td>
<td>Costo de vida: <%= country.vida_costo %></td>
<td>Costo de Vacaciones: <%= country.vacaciones_costo %></td>
<td>Moneda: <%= country.moneda %></td>
<td>Descripcion:<%= country.descripcion %></td>
<td>Requiere Visa<%= country.visa_requiere %></td>
<td>LGTB Amigable<%= country.lgtb_amigable %></td>
